.cartContainer {
  padding: 20px;
  background-color: #222;
  color: white;
  border-radius: 10px;
  margin: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cartContainer h2{
    display: flex;
    justify-content: center;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cartItem {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.itemImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.itemDetails {
  flex-grow: 1;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  color: white;
}
